<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="eTempleDb" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=eTemple_vc;Uid=etempleuser;Pwd=etemple;" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key ="Mode" value ="Interval"/>
    <!-- <add key ="Mode" value ="Interval"/>-->
    <add key ="IntervalMinutes" value ="1"/>
    <add key ="ScheduledTime" value ="18:41"/>
    <add key="SvcpvdrAPI" value="http://api.smscountry.com/SMSCwebservice_bulk.aspx"/>
    <add key="User" value="ravitej580"/>
    <add key="passwd" value="sri@1234"/>
    <add key="message" value="This is a test message ...."/>
    <add key="sid" value="DwarakaThirumala"/>
    <add key="mtype" value="N"/>
    <add key="DR" value="Y"/>
  </appSettings>
</configuration>