<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="eTempleDb" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=eTemple_vc;Uid=etempleuser;Pwd=etemple;" />
    <add name="eTempleNew" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=eTemple1;Uid=eTempleUser;Pwd=eTemple;" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add invariant="MySql.Data.MySqlClient"
           name="MySqlProvider"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>